body {
    padding-top: 70px;
}

.create-post {
	margin:auto;
	width : 70%;
	
}

#post-input-box {
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	resize : none;
}

.modal-content .search-image-button {
	padding-left:10px;
	padding-bottom:10px;
}

#post-input-title {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom: -1px;
}

#post-input-desc {
	border-radius: 0px;
}

#post-input-hash {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;	
	margin-top:-1px;
}