<div class="grid-item">
    <div class="thumbnail">
    <div class="header">
    	<h4><a href="#">{{ post.user.username }}</a></h4>
    </div>
	<img src="/static/{{ post.photos.all.0.image_file }}" alt="">
	<div class="caption">
		<ul class="list-unstyled">
		<li><strong> {{ post.title }} </strong></li>
	    <li>경매 종료까지 {{ post.auction.expire_date | timeuntil }} </li>
	    <li>즉시구매가 {{ post.auction.immediate_price }}원</li>
	    <li>현재경매가 {{ post.auction.current_price }}원</li>
		
	    <li>{{ post.description }}

		    {% for tag in post.tags.all %}
		    <!-- dummy url for tag search-->
		    <a href="/dashboard/tags/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
	    </li>
	    </ul>
	    
	</div>
    </div>
</div>
